.header {
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  transition: box-shadow 150ms ease;
  font-size: 20px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: rem(1px) solid
      light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
  }
}

.scrolled {
  box-shadow: var(--mantine-shadow-sm);
}

@media only screen and (min-width: 600px) {
  .row {
    font-size: 15px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .row {
    font-size: 15px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .row {
    font-size: 25px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .row {
    font-size: 25px;
  }
}
